body{
    margin: 10px;
    font-family: sans-serif;
    background-image: url("https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg");
    background-size: cover;
}
.navbar ul{
    background-color: transparent;
    width: 100%;
    height: 5vh;
    justify-content: space-around;
    border-radius: 5px;
    display: flex;
    padding: 0;
    margin: 0;
} 
.navbar a{
    background: rgb(34, 112, 112);
    border-radius: 5px;
    padding: 10px;
}
.navbar li{
    list-style-type: none;
    text-align: center;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.navbar a:hover{
    background: none;
    border: 3px solid aqua;
    transition: 1s;
}
.navbar a:active{
    background: rgb(3, 164, 245);
}
body h1{
    color: aqua;
    font-style: italic;
    font-size: 50px;
    text-shadow: 10px -10px 20px rgb(220, 90, 9,);
    text-align: center;
}
.img-cont{
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    padding: 40px;
    width: 90% auto;
    height: 50vh auto;
    margin: 40px;
    border-radius: 8px;
}
.img-cont img{
    height: 250px;
    width: 100px;
    border-radius: 5px;
}
.img-cont img:hover{
    height: 300px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    transition: 3s;
}
.img-cont h1{
    color: aqua;
    font-style: italic;
    font-size: 50px;
    text-shadow: 10px -10px 20px rgb(220, 90, 9,);
}
.img-cont p{
    margin: 0;
    color: white;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    float: left;
}
.img-man{
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    padding: 40px;
    width: 90%;
    height: 50vh;
    margin: 40px;
    border-radius: 8px;
}
.img-man img{
    height: 250px;
    width: 100px;
    border-radius: 5px;
}
.img-man img:hover{
    height: 300px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 5px;
    transition: 3s;
}
.img-man h1{
    color: aqua;
    font-style: italic;
    font-size: 50px;
    text-shadow: 10px -10px 20px rgb(220, 90, 9,);
}
.img-man p{
    margin: 0;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.img-can{
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    padding: 40px;
    width: 90%;
    height: 50vh;
    margin: 40px;
    border-radius: 8px;
}
.img-can img{
    height: 250px;
    width: 100px;
    border-radius: 5px;
}
.img-can img:hover{
    height: 300px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 5px;
    transition: 3s;
}
.img-can h1{
    color: aqua;
    font-style: italic;
    font-size: 50px;
    text-shadow: 10px -10px 20px rgb(220, 90, 9,);
}
.img-can p{
    margin: 0;
    color: white;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    float: left;
}
.img-var{
    background-color: transparent;
    justify-content: space-between;
    display: flex;
    padding: 40px;
    width: 90%;
    height: 50vh;
    margin: 40px;
    border-radius: 8px;
}
.img-var img{
    height: 250px;
    width: 100px;
    border-radius: 5px;
}
.img-var img:hover{
    height: 300px;
    width: 270px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 5px;
    transition: 3s;
}
.img-var h1{
    color: aqua;
    font-style: italic;
    font-size: 50px;
    text-shadow: 10px -10px 20px rgb(220, 90, 9,);
}
.img-var p{
    margin: 0;
    color: white;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    float: left;
}
.img-var p:hover{
    color: aqua;
    text-shadow: 5px -5px 10px rgb(243, 207, 5);
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    transition: 2s;
}
.img-cont p:hover{
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: aqua;
    text-shadow: 5px -5px 10px rgb(220, 90, 9);
    transition: 2s;
}
.img-can p:hover{
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: aqua;
    text-shadow: 5px -5px 10px rgb(220, 90, 9);
    transition: 2s;
}
.img-man p:hover{
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: aqua;
    text-shadow: 5px -5px 10px rgb(220, 90, 9);
    transition: 2s;
}
.back{
    background: aqua;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}
.back:hover{
    background: none;
    border: 2px solid aqua;
    transition: 3s;
}
.back a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.back:hover a{
    color: aqua;
}
.visite{
    background: aqua;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}
.visite:hover{
    background: none;
    border: 2px solid aqua;
    transition: 3s;
}
.visite a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.visite:hover a{
    color: aqua;
}
.next{
    background: aqua;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
}
.next:hover{
    background: none;
    border: 2px solid aqua;
    transition: 2s;
    
}
.next a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.next:hover a{
    color: aqua;
}
.btn{
    display: flex;
    justify-content: space-evenly;
}