:root{
    ---hovercolor: #00ff77;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}
body{
    background-image: url("https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg");
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: poppins;
}
.login-box{
    position: relative;
    width: 500px;
    height: 80vh;
    border: 5px solid white;
    border-radius: 10px;
    padding-top: 30px;
}

.login-box form{
    width: 100%;
    padding: 0 50px;
}
h2 {
    font-size: 30px;
    color:#fff;
    text-align: center;
    font-style: italic;
}
.input-box{
    position: relative;
    margin: 30px 0;
}
.input{
    width: 100%;
    height: 50px;
    background: none;
    border: 3px solid #e2e9f1;
    padding: 1rem;
    border-radius: 10PX;
    outline: none;
    font-size: 20px;
    color: #0feb7d;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label{
    position: absolute;
    top: 25px;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-size: 20px;
    font-weight: 700;
}
.input:focus, input:valid{
    outline: none;
    border: 5px solid #00ff77;
    box-shadow: 0px 0px 10px 0px #00ff77;
}
.input:focus ~ label, input:valid ~ label{
    transform: translateY(-130%) scale(0.8);
    background-color: #00ff77;
    padding: 0.25em;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00ff77;
}
.Forgot-pass{
    margin: -15px 0 10px;
    text-align: center;
}
.Forgot-pass a{
    font-size: 1em;
    color: aqua;
}
.btn{
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
.btn:hover{
    background: none;
    border: 3px solid #00ff77;
    color: #fff;
    transition: 1.54s;
}